{{ define "main" }}
  {{ $css := resources.Get "styles/highlight.css" }}
  {{ $style := $css | resources.Minify }}
  <style>{{ $style.Content | safeCSS }}</style>
  <style>
    #wtf-page {
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
    }

    #wtf-page h1 {
      background: url(/images/podcast-icon.png) no-repeat right;
      background-size: 150px;
      display: flex;
      align-items: center;
      font-size: 48px;
      line-height: 1;
      color: #111;
      min-height: 150px;
      max-width: 100%;
      padding-right: 100px;
    }

    #wtf-page-sticky {
      background: #fff;
      position: sticky;
      top: 0;
      margin-bottom: 16px;
      padding: 16px 0 0 0;
      z-index: 1;
    }

    #wtf-page iframe {
      box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);
      width: 100%;
    }

    #wtf-page .wtf-page-link {
      align-items: center;
      background: 0 0;
      border: 0;
      border-radius: 4px;
      color: #444;
      cursor: pointer;
      display: flex;
      outline: 0;
      margin-bottom: 8px;
      padding: 8px;
      text-align: left;
    }

    #wtf-page .wtf-page-link.is-active, #wtf-page .wtf-page-link.is-active:hover {
      background: rgb(215, 239, 255);
      color: #111;
      pointer-events: none;
    }

    #wtf-page .podcast-subscribe-title {
      display: none;
    }

    #wtf-page .wtf-page-link:hover {
      background: #eee;
      color: #111;
    }

    #wtf-page img {
      border-radius: 4px;
      object-fit: cover;
      flex: 0 0 128px;
      height: 72px;
      width: 128px;
    }

    #wtf-page h4 {
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      padding: 0;
      font-weight: 500;
      padding-left: 16px;
    }

    #wtf-page h5 {
      padding-left: 16px;
      margin: 8px 0 0;
      font-weight: 400;
    }
  </style>

  <div id='wtf-page'>
    <h1>Podcast de frontend y desarrollo web</h1>
      {{ range first 1 (where .Site.Pages ".Params.category" "podcast") }}
        <div id='wtf-page-sticky'>
          <iframe src='{{.Permalink}}'></iframe>
        </div>
      {{ end }}
      {{ partial "podcast-subscribe.html" }}

      <h3 class='section-title'>Escucha todos los programas 🎧👇</h3>
      {{ range first 1 (where .Site.Pages ".Params.category" "podcast")}}
      <a class='wtf-page-link is-active' href='{{.Permalink}}'>
        <img alt="{{ .Title }}" class='u-lazyload' loading='lazy' src='{{ .Params.image }}' />
        <div>
          <h4>{{ .Title }}</h4>
          <h5>{{ .Description }}</h5>
        </div>
      </a>
      {{ end }}

      {{ range first 100 (after 1 (where .Site.Pages ".Params.category" "podcast"))}}
      <a class='wtf-page-link' href='{{.Permalink}}'>
        <img alt="{{ .Title }}" class='u-lazyload' loading='lazy' src='{{ .Params.image }}' />
        <div>
          <h4>{{ .Title }}</h4>
          <h5>{{ .Description }}</h5>
        </div>
      </a>
      {{ end }}
  </div>

  <script>
      var iframe = window['wtf-page'].querySelector('iframe')
      var links = window['wtf-page'].querySelectorAll('.wtf-page-link')

      links.forEach(link => link.addEventListener('click', handleClickOnLink))
    
      function handleClickOnLink (e) {
        e.preventDefault()
        var href = this.getAttribute('href')
        window['wtf-page'].querySelector('.is-active').classList.remove('is-active')
        this.classList.add('is-active')
        iframe.setAttribute('src', href)
      }
    </script>
{{ end }}

