<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/8.1.1/mocha.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/8.1.1/mocha.min.js"></script>
  <script src="node_modules/chai/chai.js"></script>
  <script>mocha.setup('bdd')</script>

  <script>
    mocha.run();
  </script>
</head>
<body>
  <div id="mocha"></div>

  <!-- load code you want to test here -->

  <!-- load your test files here -->
</body>
</html>