<!DOCTYPE html>
<html lang="es-es">
<head>
	<meta charset="utf-8">
	<title>{{- .Title | default .Site.Title -}} | midudev.com 👨‍💻</title>
	
	{{ partial "head/preconnects.html" . }}
	
	<link rel="canonical" href="{{ .Permalink }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	{{ $js := resources.Get "js/scripts.js" }}
	{{ $script := $js | resources.Minify }}
	<script defer src='{{ $script.RelPermalink }}'></script>
	
	{{ $css := resources.Get "styles/global.css" }}
	{{ $style := $css | resources.Minify }}
  <style>{{$style.Content | safeCSS}}</style>
  
  {{ $css := resources.Get "styles/highlight.css" }}
	{{ $style := $css | resources.Minify }}
	<style>{{$style.Content | safeCSS}}</style>

	{{ partial "head/favicons.html" . }}
	
	<meta name="apple-mobile-web-app-title" content="midudev.com" />
	<meta name="application-name" content="midudev.com" />
	<meta name="theme-color" content="#0099ff" />
	
	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<meta name="description" content="{{- .Description | default .Site.Params.Description -}}">
	<meta property="og:url" content="{{.Permalink}}" />
	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@midudev" />
	<meta name="twitter:domain" content="midudev.com" />
	<meta name="twitter:image" content={image} />
	<meta name="twitter:site" content="@midudev" />
	
	<link rel="manifest" href="/static/manifest.json" />
	
	<meta property="og:locale" content="es_ES">
	<meta property="og:title" content="{{ .Title | default .Site.Title }}">
	<meta property="og:image" content="{{ .Params.image | default .Site.Params.Image }}">
	<meta property="og:description" content="{{- .Description | default .Site.Params.Description -}}" />
	<meta property="og:site_name" content="midudev.com">


</head>
<body>
	<header id='header'>
		<a id='logo' href="/">
			<svg width="20" height="20">
				<path
					d="M5 15a.502.502 0 0 1-.354-.146l-4-4a.5.5 0 0 1 0-.707l4-4a.5.5 0 0 1 .707.707L1.707 10.5l3.646 3.646a.5.5 0 0 1-.354.853zM15 15a.5.5 0 0 1-.354-.853l3.646-3.646-3.646-3.646a.5.5 0 0 1 .707-.707l4 4a.5.5 0 0 1 0 .707l-4 4a.498.498 0 0 1-.354.146zM7.5 15a.5.5 0 0 1-.424-.765l5-8a.5.5 0 0 1 .848.53l-5 8A.5.5 0 0 1 7.5 15z"
				></path></svg>
				<span>midudev</span></a
		>
  </header>
  <main aria-role="main">
    {{ block "main" . }}
    {{ end }}
	</main>
	<footer>
		<a
			href="/index.xml">
			rss
		</a>
		<a
			href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fmidudev.com&amp;ref_src=twsrc%5Etfw&amp;screen_name=midudev&amp;tw_p=followbutton"
			target="_blank"
			rel="noopener nofollow"
			>twitter
		</a>
		<a
			href="https://www.youtube.com/channel/UC8LeXCWOalN8SxlrPcG-PaQ"
			target="_blank"
			rel="noopener nofollow"
			>
			youtube
		</a>
	</footer>
</body>