<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  
  <title>{{- .Title | default .Site.Title -}}</title>
  <meta name="description" content="{{- .Description | default .Site.Params.Description -}}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="preload" as="image" href="https://midu.dev/logo.png">

  {{ partial "head/preconnects.html" . }}

  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {{ $css := resources.Get "styles/global.css" }}
  {{ $style := $css | resources.Minify }}

  <style>{{$style.Content | safeCSS}}</style>

  {{ partial "head/favicons.html" . }}

  <meta name="apple-mobile-web-app-title" content="midu.dev" />
  <meta name="application-name" content="midu.dev" />
  <meta name="theme-color" content="#0099ff" />

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <meta property="og:url" content="{{.Permalink}}" />
  <meta property="og:type" content='{{ cond (isset .Params "tags") "article" "website" }}' />

  {{ if isset .Params "audio" }}
  <meta name="twitter:card" content="player" />
  <meta name="twitter:player:stream" content="{{ .Params.audio }}" />
  <meta name="twitter:player:stream:content_type" content="audio/mp4" />
  <meta name="twitter:player" content='{{ .Permalink }}' />
  <meta name="twitter:player:width" content="702" />
  <meta name="twitter:player:height" content="223" />
  {{ else }}
  <meta name="twitter:card" content="summary_large_image" />
  {{ end }}

  <meta name="twitter:creator" content="@midudev" />
  <meta name="twitter:domain" content="midu.dev" />
  <meta name="twitter:image" content="https://midu.dev{{ .Params.image | default .Site.Params.Image }}" />
  <meta name="twitter:site" content="@midudev" />

  <link rel="manifest" href="/manifest.json" />

  <meta property="og:locale" content="es_ES" />
  <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
  <meta property="og:image" content="https://midu.dev{{ .Params.image | default .Site.Params.Image }}" />
  <meta property="og:description" content="{{- .Description | default .Site.Params.Description -}}" />
  <meta property="og:site_name" content="midu.dev" />

  {{ if isset .Params "tags" }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "{{ .Title }}",
      "image": ["https://midu.dev{{ .Params.image | default .Site.Params.Image }}"],
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
    }
  </script>
  {{ end }}
  
  <script src="https://waterboa.midu.dev/script.js" data-site="YZRWTFHZ" defer></script>

</head>

<body class='{{ cond (isset .Params "audio") "body-player" ""}}'>
  <header class='header u-center'>{{ partial "logo.html" }}</header>
  <div class='body u-center'>
    {{ block "main" . }}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}


  {{ $js := resources.Get "js/scripts.js" }}
  {{ $script := $js | resources.Minify }}
  <script>{{$script.Content | safeJS}}</script>
</body>

</html>