html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* SELECTION */
*::selection {
  background: rgba(6, 125, 247, 0.15);
}

pre::selection,
code::selection {
  background: #09f;
  text-shadow: none;
  opacity: 0.3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

/* RESET */

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
figure,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

/** UTILS */
.u-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.u-lazyload {
  filter: blur(5px);
  opacity: 0;
  transition: filter 1000ms ease-in-out, opacity 500ms ease-in-out;
}

.lazyloaded {
  filter: blur(0);
  opacity: 1;
}

.header {
  padding: 16px 0
}

.header.header--absolute {
  position: absolute;
}

main {
  display: block;
  margin: 0 auto;
  position: relative;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  color: #000;
  font-size: 12px;
  margin: 64px auto 32px;
  max-width: 100%;
  width: 320px;
  text-align: center;
}

hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 16px;
}

/** MAIN **/
svg {
  vertical-align: middle;
}

twitter-widget {
  margin: 0 auto;
  padding-bottom: 16px;
}

#article-content blockquote {
  border-left: 5px solid #dfe2e5;
  padding: 0 16px;
  margin-bottom: 32px;
}

#article-content blockquote p {
  color: #555;
  padding-bottom: 0;
}

#article-content p,
#article-content li {
  color: #333;
  font-size: 20px;
  line-height: 170%;
  margin: 0 auto;
  padding-bottom: 32px;
  word-break: break-word;
}

#article-content ul {
  padding-left: 16px;
}

#article-content li {
  padding-bottom: 0;
}

.article-title {
  font-size: 18px;
  line-height: 29px;
  max-width: 90%;
}

.article-title--big {
  font-size: 40px;
  line-height: 55px;
}

.article-title--medium {
  font-size: 32px;
  line-height: 46px;
}

.article-title-content {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 0 -60px rgba(255, 255, 255, 0.9) inset;
  color: #000;
  padding: 4px 8px 4px 4px;
}

#article h2,
#article h3,
#article h4,
#article h5 {
  color: #333;
  font-size: 32px;
  font-weight: 500;
  padding: 48px 0 24px;
}

#article h3 {
  color: #004572;
  font-size: 24px;
  padding-top: 16px;
}

#article h4 {
  color: #067df7;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 16px;
}

#article-content a {
  color: #09f;
  box-shadow: inset 0 -8px 0 rgba(0, 153, 255, 0.1);
  transition: .2s all ease-out;
}

#article-content a:hover {
  box-shadow: inset 0 -21px 0 #0099ff;
  color: #fff;
}

.youtube-container,
#article iframe {
  margin-bottom: 16px;
}

/** CARD **/
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
  flex: 0 0 32%;
  margin-bottom: 16px;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  transition: box-shadow .5s ease, transform .5s ease;
}

.card-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  opacity: .3;
  transform: scale(10);
}

.card .article-title {
  bottom: 16px;
  position: absolute;
}

.card--featured {
  flex: 0 0 60%;
}

.card--aside {
  flex: 0 0 38%;
}

.card:hover {
  box-shadow: 4px 10px 20px rgba(41, 95, 153, 0.5);
  transform: translate3d(0,-1px,0) scale(1.02);
}

.card-info {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
}

.card img {
  object-fit: cover;
}

@media (max-width: 700px) {
  .card--featured,
  .card--aside,
  .card {
    flex: 1 1 100%;
  }
}

/** HEADER **/
#logo {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  padding: 3px;
  transition: opacity .3s ease;
}

#logo svg {
  background: #0099ff;
  border-radius: 16px;
  box-sizing: content-box;
  display: inline-block;
  fill: #fff;
  margin-right: 8px;
  padding: 4px;
  transform: scale(1.1);
}

/** TAG **/
.tags {
  bottom: 0;
  display: flex;
  position: absolute;
}

.tag {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  padding: 4px 8px;
  text-transform: lowercase;
}

/** ARTICLE **/
.article-header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 32px;
  padding-bottom: 32px;
}

.article-header-meta {
  color: #555;
  font-size: 14px;
  padding-top: 96px;
  padding-bottom: 32px;
}

.article-header-img {
  height: 100%;
  opacity: .3;
  overflow: hidden;
  padding-left: 225px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.article-header-img img {
  border-radius: 3px;
  height: 100%;
  object-fit: cover;
}

.article-description {
  color: #555;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
}

/** ARTICLE-CONTENT **/
#article-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#article-pagination a {
  border-radius: 4px;
  color: #09f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 16px;
  max-width: 300px;
}

#article-pagination a:hover, #article-pagination a:focus {
  background: #e8f6ff;
  text-decoration: none;
}

#article-pagination svg {
  fill: #09f;
  margin-bottom: 8px;
}

#article-share {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}

/** ARTICLE-IMAGES **/
figure {
  margin: auto;
  padding-bottom: 16px;
}

figure img + figcaption {
  padding-top: 4px;
}

figcaption {
  color: #666;
  display: block;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

figure.center {
  max-width: 500px;
}

figure.left {
  float: left;
  max-width: 50%;
  padding: 0 16px 0 0;
}

figure.left p {
  padding: 0;
}

figure.left img {
  height: auto;
  width: 100%;
}

@media (max-width: 1250px) {
  body { max-width: 800px; }
}

@media (max-width: 1000px) {
  body { max-width: 700px }
}

@media (max-width: 800px) {
  body { max-width: 90% }
  #article h1 { max-width: 100%; font-size: 28px; line-height: 41px; }
  .article-description { font-size: 18px; line-height: 29px; }
  #article-content p, #article-content li { font-size: 18px; }
  .article-header {
    padding: 16px 16px 32px;
    max-width: 100%;
  }
  .article-header-meta { color: #111; padding: 0 0 16px; }
  .article-header-img {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .article-header { margin-bottom: 16px; }
  .article-description { display: none; }
}