:root {
  --c-topic: #000;
  --fz-aside: 14px;
  --fz-section-title: 18px;
  --mw-document: 1200px;
  --p-header-bottom: 16px;
  --p-separation: 96px;
  --p-u-center: 0 32px;
  --w-aside: 320px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* SELECTION */
*::selection {
  background: rgba(6, 125, 247, 0.15);
}

pre::selection,
code::selection {
  background: #09f;
  text-shadow: none;
  opacity: 0.3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* RESET */

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
figure,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

/** UTILS */
.u-none {
  display: none !important;
}

.u-center {
  max-width: var(--mw-document);
  margin: 0 auto;
  padding: var(--p-u-center);
}

.section-title {
  color: #111;
  font-weight: 700;
  font-size: var(--fz-section-title);
  padding-bottom: 8px;
}

.section-description {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

/** .header **/
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: var(--p-header-bottom);
}

#searchbox {
  display: none;
}

@media (min-width: 600px) {
  .header {
    margin-bottom: 32px;
  }

  #searchbox {
    display: block;
  }
}

#nav {
  align-items: center;
  display: flex;
}

#nav a {
  color: #222;
  padding: 10px 6px;
}

@media (min-width: 600px) {
  #nav a {
    padding: 10px 12px;
  }
}

#nav .page-links {
  font-size: var(--fz-page-links);
}


#nav a:hover {
  background: #eee;
  color: #000;
  border-radius: 6px;
}

/** END .header **/

.body {
  display: flex;
}

hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 16px;
}

hr.section-separation {
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 16px;
}

/** FOOTER **/
footer {
  padding: 64px 0 64px;
}

footer a {
  color: #555;
  margin-right: 16px;
}

footer a:hover {
  color: #222;
}

/** MAIN **/
svg {
  vertical-align: middle;
}

#article {
  padding-right: var(--p-separation);
}

#article-content-wrapper {
  display: flex;
}

#article-content {
  flex: 1 1;
  padding-bottom: 32px;
}

#article-content blockquote {
  background: #fdffb7;
  border-radius: 6px;
  padding: 16px;
  margin-top: 48px;
  margin-bottom: 32px;
  box-shadow: 0 20px 20px rgba(100, 100, 100, .1);
}

#article-content blockquote p {
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#article-content p,
#article-content li {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 32px;
  word-break: break-word;
}

#article-content ul + .highlight {
  margin-top: 24px;
}

#article-content p + ul {
  margin-top: -16px;
}

#article-content ul {
  padding-left: 16px;
  padding-bottom: 16px;
}

#article-content li {
  color: #555;
  margin-bottom: 4px;
  padding-bottom: 0;
}

#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5 {
  color: #0068b8;
  font-size: 24px;
  font-weight: 600;
  margin: 48px 0 24px;
}

#article-content h3 {
  color: #0e578f;
  font-size: 22px;
  margin-top: 16px;
}

#article-content h4 {
  color: #09395e;
  font-size: 20px;
  margin-top: 16px;
}

#article-content a {
  border-bottom: 2px solid rgb(223, 242, 255);
  color: rgb(0, 129, 215);
  opacity: 7;
}

#article-content a:hover {
  background-color: rgb(216, 240, 255);
  border-bottom-color: #0000FF;
  color: #0000FF;
  opacity: 1;
}

#article iframe {
  margin-bottom: 16px;
}

.youtube-iframe, .highlight {
  box-shadow: 0 20px 60px rgba(0,0,0,0.3)
}


/** HEADER **/
#logo, #logo img {
  height: 44px;
  transition: transform ease .3s;
  width: auto;
}

#logo:hover {
  transform: scale(1.1);
}

/** BUTTON **/
.button {
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 0 #0000000b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  outline: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  width: 100%;
}

.button:hover {
  background: rgb(0, 111, 186);
  border-color: rgb(0, 111, 186);
}

.input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: rgba(0,0,0,0.65);
  display: inline-block;
  font-feature-settings: 'tnum';
  font-size: 14px;
  font-variant: tabular-nums;
  height: 32px;
  line-height: 32px;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 4px 11px;
  transition: all .3s;
  width: 100%;
}

.button:focus,
.input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 4px rgba(24,144,255,0.2);
}

/** NEWSLETTER-FORM **/
#aside-sticky {
  top: 48px;
  position: sticky;
}

#newsletter-form {
  border: 3px solid #09f;
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 48px;
  padding-top: 48px;
  position: relative;
}

#newsletter-form svg {
  background: #fff;
  fill: #09f;
  position: absolute;
  top: -36px;
  left: 50%;
  margin-left: -40px;
  width: 64px;
  padding: 0 8px;
  box-sizing: content-box;
}

#newsletter-form small {
  display: block;
  padding: 16px 0;
}

#newsletter-form input {
  margin-right: 4%;
  margin-bottom: 16px;
}

/** END NEWSLETTER-FORM **/

/** #article-header **/
#article-header {
  align-items: center;
  display: flex;
  margin-bottom: 36px;
  position: relative;
}

#article-header h1 {
  color: #111;
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
}

#article-header picture {
  height: 200px;
  opacity: .1;
  position: absolute;
  right: 0;
  width: 200px;
}

#article-header img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  #article-header picture, #article-header img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    object-fit: contain;
    position: static;
    opacity: 1;
  }
}

/** END #article-header **/

/** #article-meta **/
#article-meta {
  color: #777;
  font-size: 12px;
  margin-top: 8px;
}

#article-meta a {
  border: 0;
  color: #000;
  display: block;
  font-weight: 600;
  margin-top: 8px;
  opacity: .7;
}

@media (min-width: 600px) {
  #article-meta a {
    display: inline-block;
    margin: 0;
  }
}

#article-meta a:hover {
  background: transparent;
  opacity: 1;
  text-decoration: underline;
}

#article-meta svg {
  margin-left: 4px;
  width: 18px;
}
/** END #article-meta **/

/** ARTICLE-CONTENT **/
#article-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  text-align: center;
  border-top: 3px solid #eee;
}

#article-pagination a {
  align-items: center;
  border-radius: 6px;
  border: 0;
  color: #09f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
  max-width: 300px;
  padding: 8px 16px;
  transition: all .2s ease;
}

#article-pagination a:hover, #article-pagination a:focus {
  background: #e8f6ff;
  text-decoration: none;
}

#article-pagination img {
  width: 64px;
  margin-bottom: 16px;
}

#article-pagination svg {
  fill: #09f;
  margin-bottom: 8px;
}

#article-pagination a:hover svg {
  fill: #00f;
}

/** ARTICLE-IMAGES **/
figure {
  margin: auto;
  padding-bottom: 16px;
}

ul + figure {
  margin-top: 16px;
}

figure + ul {
  margin-top: 16px;
}

figure img + figcaption {
  padding-top: 4px;
}

figcaption {
  color: #666;
  display: block;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

figure.center {
  max-width: 500px;
}

figure.left {
  float: left;
  max-width: 50%;
  padding: 0 16px 0 0;
}

figure.left p {
  padding: 0;
}

figure.left img {
  height: auto;
  width: 100%;
}

/** END ARTICLE-IMAGES **/

/** #TableOfContents **/
#TableOfContents ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
}

#TableOfContents ul li {
  margin-bottom: 0;
}

#TableOfContents ul a:hover {
  background-color: rgb(208, 237, 255);
}

#TableOfContents li a:before {
  border-radius: 5px;
  color: #09f;
  content: "→ ";
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  left: 0;
  margin-right: 5px;
  opacity: .7;
  text-align: right;
}

#TableOfContents > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/** END #TableOfContents **/

/** #Lightbox **/
#lightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

#lightbox section {
  align-items: center;
  display: flex;
  height: 100vh;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

#lightbox div {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

#lightbox a {
  cursor: alias;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#lightbox svg {
  position: absolute;
  top: 16px;
  right: 16px;
}

#lightbox iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/** END Lightbox **/

/** ASIDE **/
#aside {
  flex: 0 0 var(--w-aside);
}

#aside a,
#aside button {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  display: flex;
  outline: 0;
  margin-left: -8px;
  padding: 8px;
  text-align: left;
}

#aside a:hover, 
#aside button:hover {
  background: #eee;
  color: #111;
}

#aside img {
  border-radius: 4px;
  object-fit: cover;
  flex: 0 0 128px;
  height: 72px;
  width: 128px;
}

#aside h4 {
  font-size: var(--fz-aside);
  line-height: 140%;
  font-weight: 500;
  padding-left: 16px;
}

.youtube-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/** END ASIDE **/


@media screen and (max-width: 1300px) {
  :root {
    --mw-document: 100%;
  }
}

@media screen and (max-width: 1023px) {
  :root {
    --p-separation: 0;
    --w-aside: 100%;
  }

  .body, #article-content-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --p-u-center: 0 16px;
    --p-header-bottom: 16px;
  }

  #nav .page-links {
    display: none;
  }

  #article-header {
    display: block !important;
  }
}

lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  max-width: 720px;
}

/* gradient */
lite-youtube::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
  width: 68px;
  height: 48px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  /* YT's actual play button svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
  filter: grayscale(100%);
  transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.lyt-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

twitter-widget {
  margin: 0 auto;
}

.twitter-tweet {
  margin: 0 auto;
}


/* search */
.ais-InstantSearch {
  position: relative;
}

#hits {
  position: absolute;
  z-index: 2;
}

