{{ if (isset .Params "audio") }}
{{ else }}
  <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>
    {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </time>
   / 
  <span>{{.ReadingTime}} minutos de lectura</span>
   /
  <a href='https://github.com/midudev/midu.dev/edit/master/content/{{.File.LogicalName}}'>
    Compartir {{ partial "icons/twitter.html" . }}
  </a>
  /
  <a href='https://github.com/midudev/midu.dev/edit/master/content/{{.File.LogicalName}}'>
    ¿Una errata? Edita el artículo en GitHub {{ partial "icons/github.html" . }}
  </a>
{{ end }}
