<style>
  .audio-player {
    align-items: center;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 100px;
    text-align: center;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    margin: 32px 0;
    min-height: 100px;
    width: 100%;
  }
  .audio-player .album-image {
    display:none;
  }
  @media (min-width: 800px) {
    .audio-player .album-image {
      display: block;
      min-height: 100px;
      width: 150px;
      background-size: cover;
    }
  }
  .audio-player .player-controls {
    align-items: center;
    justify-content: center;
    flex: 3;
    padding: 16px 32px;
  }
  .audio-player .player-controls progress {
    cursor: pointer;
    width: 100%;
  }
  .audio-player .player-controls progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: #09f;
    height: 15px;
    margin-top: 8px;
    opacity: .5;
    transition: opacity .3s ease;
  }
  .audio-player .player-controls progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    color: #09f;
  }
  .audio-player .player-controls progress::-webkit-progress-value {
    background-color: #09f;
  }
  .audio-player .player-controls p {
    color: #777;
    font-size: 12px;
    font-weight: bold;
  }
  #play-btn {
    cursor: pointer;
    border: 0;
    background: transparent;
    width: 0;
    height: 50px;

    border-color: transparent transparent transparent #333;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 30px 0 30px 45px;

    outline: 0;

    margin-left: 36px;
    padding: 0;
  }

  #play-btn:hover {
    opacity: .5;
  }

  #play-btn.pause {
    border-style: double;
    border-width: 0px 0 0px 45px;
  }
  
  #audio-timers {
    color: #666;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: bold;
    opacity: .5;
    transition: opacity .3s ease;
  }

  .show {
    opacity: 1 !important;
  }
  
</style>

<div class="audio-player">
  <button id="play-btn"></button>
  <div class="audio-wrapper" id="player-container">
    <audio id="player" ontimeupdate="initProgressBar()">
      <source src="{{ .Params.audio }}" type="audio/mp3" />
    </audio>
  </div>
  <div class="player-controls scrubber">
    <p>{{ .Params.season }}x{{ .Params.episode }}: {{ .Params.title }}</p>
    <span id="seek-obj-container">
      <progress id="seek-obj" value="0" max="1"></progress>
    </span>
    <div id="audio-timers">
      <small id="start-time">00:00</small>
      <small id="end-time">00:00</small>
    </div>
  </div>
  <div
    class="album-image"
    style="background-image: url({{ .Params.image }})"
  ></div>
</div>

<script>
  var player = document.getElementById("player")
  var playerContainer = document.getElementById("player-container")
  var isPlaying = false
  var playBtn = document.getElementById("play-btn")
  var progressbar = document.getElementById("seek-obj")
  var timers = document.getElementById('audio-timers')

  function initProgressBar() {
    var length = player.duration;
    var current_time = player.currentTime;

    // calculate total length of value
    var totalLength = calculateTotalValue(length);
    document.getElementById("end-time").innerHTML = totalLength;

    // calculate current value time
    var currentTime = calculateCurrentValue(current_time);
    document.getElementById("start-time").innerHTML = currentTime;

    progressbar.value = player.currentTime / player.duration;
    progressbar.addEventListener("click", seek);

    if (player.currentTime == player.duration) {
      document.getElementById("play-btn").className = "";
    }
  }

  function seek(e) {
    togglePlay(true)
    var percent = e.offsetX / this.offsetWidth;
    player.currentTime = percent * player.duration;
    progressbar.value = percent / 100;
  }

  function calculateTotalValue(length) {
    var minutes = Math.floor(length / 60),
      seconds_int = length - minutes * 60,
      seconds_str = seconds_int.toString(),
      seconds = seconds_str.substr(0, 2),
      time = minutes + ":" + seconds;

    return time;
  }

  function calculateCurrentValue(currentTime) {
    var current_hour = parseInt(currentTime / 3600) % 24,
      current_minute = parseInt(currentTime / 60) % 60,
      current_seconds_long = currentTime % 60,
      current_seconds = current_seconds_long.toFixed(),
      current_time =
        (current_minute < 10 ? "0" + current_minute : current_minute) +
        ":" +
        (current_seconds < 10 ? "0" + current_seconds : current_seconds);

    return current_time;
  }

  // Controls Listeners
  // ----------------------------------------------------------
  playBtn.addEventListener("click", function() {
    togglePlay();
  });

  // Controls & Sounds Methods
  // ----------------------------------------------------------
  function togglePlay(force) {
    if (player.paused === false && !force) {
      player.pause();
      isPlaying = false;
      playBtn.className = "";
      progressbar.classList.remove('show')
      timers.classList.remove('show')
    } else {
      player.play();
      playBtn.className = "pause";
      isPlaying = true;
      progressbar.classList.add('show')
      timers.classList.add('show')
    }
  }
</script>
