<footer>
  <section class='u-center'>
    <img class='u-lazyload u-circle' src='/images/me_photo.jpg' loading='lazy' />
    <div>
      ¡Hola! Me llamo Miguel Ángel Durán y soy un amante del desarrollo web. Actualmente trabajo como Enabler Frontend
      en Adevinta.<br />Si te gusta mi contenido, puedes seguirme en <a href="https://twitter.com/midudev" target="_blank" rel="noopener nofollow">
        {{ partial "icons/twitter.html" }}
      </a> y <a href="https://www.youtube.com/c/midudev?sub_confirmation=1" target="_blank" rel="noopener nofollow">
        {{ partial "icons/youtube.html" }}.
      </a>
    </div>
  </section>
</footer>