<footer>
  <section class='u-center'>
    <a href="mailto:miduga@gmail.com" rel="noopener nofollow" aria-label='Contact'>
      Contacto
    </a>

    <a href="/index.xml" target="_blank" rel="noopener nofollow" aria-label='Suscríbete al feed RSS'>
      RSS
    </a>

    <a href="https://twitch.tv/midudev" target="_blank" rel="noopener nofollow" aria-label='Twitch de @midudev'>
      Twitch
    </a>

    <a href="https://github.com/midudev" target="_blank" rel="noopener nofollow" aria-label='Github de @midudev'>
      GitHub
    </a>

    <a href="https://youtube.com/midudev" target="_blank" rel="noopener nofollow"
      aria-label='Canal de Youtube de @midudev'>
      YouTube
    </a>

    <a href="https://twitter.com/midudev" target="_blank" rel="noopener nofollow" aria-label='Twitter de @midudev'>
      Twitter
    </a>

    <a href="https://www.instagram.com/midu.dev/" target="_blank" rel="noopener nofollow"
      aria-label='Instagram de midudev'>
      Instagram
    </a>

    <a href="/newsletter/" aria-label='Newsletter de @midudev'>
      Newsletter
    </a>
  </section>

  <img class='footer-emote' src='/images/midudev-this-is-fine.png' lazy='loading' decoding="async" width="36"
    alt="This is fine Midudev logo" />

  <img decoding="async" loading="eager" fetchPriority="low" src="https://librecounter.org/counter.svg"
    referrerPolicy="unsafe-url" style="width: 1px;height: 1px;" />
</footer>