<a id="logo" href="/">
  <svg width="20" height="20">
    <path
      d="M5 15a.502.502 0 0 1-.354-.146l-4-4a.5.5 0 0 1 0-.707l4-4a.5.5 0 0 1 .707.707L1.707 10.5l3.646 3.646a.5.5 0 0 1-.354.853zM15 15a.5.5 0 0 1-.354-.853l3.646-3.646-3.646-3.646a.5.5 0 0 1 .707-.707l4 4a.5.5 0 0 1 0 .707l-4 4a.498.498 0 0 1-.354.146zM7.5 15a.5.5 0 0 1-.424-.765l5-8a.5.5 0 0 1 .848.53l-5 8A.5.5 0 0 1 7.5 15z"
    ></path>
  </svg>
  <span>midudev</span>
</a>
<nav id='nav'>
  <a class='page-links' href='/what-the-front-podcast' aria-label='Tu podcast de frontend'><span>Podcast</span> 🎙️</a>
  <a class='page-links' href='/newsletter' aria-label='Lista de correo de frontend'><span>Newsletter</span> 📬</a>
  <a
    href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fmidu.dev&amp;ref_src=twsrc%5Etfw&amp;screen_name=midudev&amp;tw_p=followbutton"
    target="_blank"
    rel="noopener nofollow"
    aria-label='Sígueme en Twitter'
    >
    {{ partial "icons/twitter.html"  }}
  </a>
  <a
    href="https://www.youtube.com/c/midudev?sub_confirmation=1"
    target="_blank"
    rel="noopener nofollow"
    aria-label='Suscríbete al canal de midudev'
  >
    {{ partial "icons/youtube.html"  }}
  </a>
  <a href="/index.xml" target="_blank" rel="noopener nofollow" aria-label='Suscríbete al feed RSS'>
    <svg viewBox="0 0 8 8" width="24">
      <rect width="8" height="8" fill="orange" rx="1.5" />
      <circle cx="2" cy="6" r="1" fill="#fff" />
      <path d="M1 4a3 3 0 0 1 3 3h1a4 4 0 0 0-4-4z" fill="#fff" />
      <path d="M1 2a5 5 0 0 1 5 5h1a6 6 0 0 0-6-6z" fill="#fff" />
    </svg>
  </a>
</nav>
