<a id="logo" href="/">
  <img alt="midudev logo" width="155" height="44" src='/logo.png'>
</a>

<nav id='nav'>
  <div>
    <div id='searchbox'></div>
    <div id='hits'></div>
  </div>

  <a
    href="https://twitch.tv/midudev"
    target="_blank"
    rel="noopener nofollow"
    aria-label='Sígueme en Twitch'
  >
    {{ partial "icons/twitch.html" }}
  </a>
  <a
    href="https://www.youtube.com/c/midudev?sub_confirmation=1"
    target="_blank"
    rel="noopener nofollow"
    aria-label='Suscríbete al canal de midudev'
  >
    {{ partial "icons/youtube.html" }}
  </a>
  <a
    href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fmidu.dev&amp;ref_src=twsrc%5Etfw&amp;screen_name=midudev&amp;tw_p=followbutton"
    target="_blank"
    rel="noopener nofollow"
    aria-label='Sígueme en Twitter'
    >
    {{ partial "icons/twitter.html" }}
  </a>
  <a
  href="https://www.instagram.com/midu.dev/"
  target="_blank"
  rel="noopener nofollow"
  aria-label='Sígueme en Instagram'
  >
    {{ partial "icons/instagram.html" }}
  </a>
</nav>
