{{ define "main" }}
  <style>
    #home-feed {
      flex: 1 1;
      padding-right: var(--p-separation);
    }

    .home-article h2 {
      color: #444;
      font-size: 18px;
      font-weight: 600;
    }

    .home-article picture, .home-article img {
      width: 48px;
      height: 48px;
      margin-right: 24px;
      object-fit: contain;
      margin-left: 4px;
      transition: transform .3s ease;
    }

    .home-article {
      align-items: center;
      border-radius: 4px;
      display: flex;
      margin-left: -8px;
      margin-bottom: 8px;
      padding: 8px;
    }

    .home-article:hover {
      background: #eee;
    }

    .home-article:hover img {
      transform: scale(1.15)
    }

    .home-article:hover h2 {
      color: #0000EE;
    }

    .home-article .meta {
      color: #777;
      font-size: 12px;
      padding-top: 4px;
    }

    #pagination {
      display: flex;
      list-style: none;
      justify-content: center;
      padding-top: 16px;
      padding-right: var(--p-separation);
      padding-bottom: 48px;
    }

    #pagination a {
      align-items: center;
      margin: 0;
      padding: 8px;
      color: #09f;
      font-weight: bold;
    }

    #pagination span {
      display: inline-block;
      position: relative;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #333;
      margin-right: 3px;
    }

    #pagination .is-current {
      pointer-events: none;
    }

    #pagination .is-current span {
      width: 25px;
      border-radius: 5px;
    }

    #pagination i {
      border: solid currentColor;
      border-width: 0 2px 2px 0;
      display: inline-block;
      margin: 0 4px;
      padding: 4px;
      transform: rotate(135deg);
    }

    #pagination i.is-right {
      transform: rotate(-45deg);
    }

    #topics {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      overflow: auto;
      padding: 16px 32px 48px 16px;
      margin: 0 -16px;
    }

    .topic {
      background: var(--bgc-topic);
      border-radius: 6px;
      box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,.4);
      color: var(--c-topic);
      display: flex;
      flex-direction: column;
      padding: 16px;
      place-items: center;
    }

    .topic:hover {
      filter: contrast(1.15);
    }

    .topic:hover img {
      transform: scale(1.1);
    }

    .topic picture {
      background: #fff;
      border-radius: 50%;
      padding: 16px;
      margin-bottom: 8px;
    }

    .topic img {
      object-fit: contain;
      height: 48px;
      width: 48px;
    }
  </style>
  <section id='home-feed'>
    <h3 class='section-title'>Últimos artículos 📝</h3>
    {{ $paginator := .Paginate (where site.RegularPages "Type" "==" "posts") }}
      {{ range $paginator.Pages }}
      <a class='home-article' href="{{.Permalink}}">
        {{ with .Param "tags" }}
          {{ range first 1 . }}
            <picture>
              <img alt='Imagen de la etiqueta {{ . }}' class='lazyload u-lazyload' loading='lazy' src='/images/tags/{{.}}.png' width="48" height="48" />
            </picture>
          {{ end }}
        {{ end }}
        <div>
        <h2>{{ .Title }}</h2>
        <div class='meta'>
          <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>
            {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }} {{ .Date.Year }}
          </time>
          · 
          <span>{{.ReadingTime}} minutos de lectura</span>
        </div>
        </div>
      </a>
      {{ end }}
<!--
//
//  PAGE NUMBERS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

  <ul id="pagination">

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li>
      <a href="{{ $paginator.Prev.URL }}">
        <i></i> artículos más recientes
      </a>
    </li>
    {{ end }}

    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    
      {{ $.Scratch.Set "page_number_flag" false }}

      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}

        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        <!-- Middle pages. -->
        {{ else }}
          
          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li>
      <a href="{{ $paginator.Next.URL }}">
        artículos anteriores <i class='is-right'></i>
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
  {{ end }}

  <h3 class="section-title">Todos los temas 👨‍💻</h3>
  <div id='topics'>
    <a href='/tags/react' class='topic' style='--bgc-topic:#5edaf9'>
      <picture>
        <img alt='react' class='lazyload u-lazyload' loading='lazy' src='/images/tags/react.png' width="48" height="48" />
      </picture>
      <h4>React</h4>
    </a>
    <a href='/tags/javascript' class='topic' style='--bgc-topic:#efda4c'>
      <picture>
        <img alt='javascript' class='lazyload u-lazyload' loading='lazy' src='/images/tags/javascript.png' width="48" height="48" />
      </picture>
      <h4>Javascript</h4>
    </a>
    <a href='/tags/svelte' class='topic' style='--bgc-topic:#fd3900; --c-topic: #fff'>
      <picture>
        <img alt='svelte' class='lazyload u-lazyload' loading='lazy' src='/images/tags/svelte.png' width="48" height="48" />
      </picture>
      <h4>Svelte</h4>
    </a>
    <a href='/tags/performance' class='topic' style='--bgc-topic:#fcc116; --c-topic: #fff'>
      <picture>
        <img alt='performance' class='lazyload u-lazyload' loading='lazy' src='/images/tags/performance.png' width="48" height="48" />
      </picture>
      <h4>Web Perf</h4>
    </a>
    <a href='/tags/css' class='topic' style='--bgc-topic: #0f72b7; --c-topic: #fff'>
      <picture>
        <img alt='css' class='lazyload u-lazyload' loading='lazy' src='/images/tags/css.png' width="48" height="48" />
      </picture>
      <h4>CSS</h4>
    </a>
    <a href='/tags/terminal' class='topic' style='--bgc-topic: #000; --c-topic: #fff'>
      <picture>
        <img alt='terminal' class='lazyload u-lazyload' loading='lazy' src='/images/tags/terminal.png' width="48" height="48" />
      </picture>
      <h4>Terminal</h4>
    </a>
    <!--
    <a href='/tags/graphql' class='topic' style='--bgc-topic: #e434a9; --c-topic: #fff'>
      <picture>
        <img alt='graphql' class='lazyload u-lazyload' src='/images/tags/graphql.png' />
      </picture>
      <h4>GraphQL</h4>
    </a>
    -->
  </div>
  </section>
  {{ partial "aside.html" . }}
{{ end }}